
  
  /* Tailwind v4 */
  @import "tailwindcss";

  
  html, body {
    font-family: "aptos", sans-serif;
    font-weight: 400; /* Regular */
  }

  a{
    font-family: "aptos", sans-serif;
    font-weight: 400; /* Regular */
  }