@import url("https://use.typekit.net/kfy6hdf.css");
@import "tailwindcss";

@theme {
  --font-aptos: "aptos", sans-serif;
  --color-yellow-mrperu: #FBBE2E;
  --color-blue-mrperu: #0197C5;
}

@layer base {
  html, body, a {
    font-weight: 400;
  } 
}