---
import Input from "../Input.astro";
import Wrapper from "../Wrapper.astro";
---

<section class="flex min-h-screen items-center bg-[url('../assets/bg-form-xs.webp')] bg-cover bg-center bg-no-repeat py-12 sm:min-h-0 sm:bg-[url('../assets/bg-form.webp')] sm:items-start sm:py-16 lg:py-20" id="contact">
    <Wrapper>
        <div class="mx-auto w-full max-w-[16rem] px-2 py-6 sm:mx-0 sm:max-w-[42rem] sm:px-0 sm:py-0 lg:max-w-[34rem]">
            <h4 class="max-w-[13rem] text-pretty text-[1.05rem] font-bold leading-tight text-white sm:max-w-none sm:text-3xl lg:text-4xl">Obtén un diagnóstico gratuito para conocer tu consumo energético.</h4>
            <form action="" class="mt-8 sm:mt-6">
                <div class="flex flex-col gap-7 sm:gap-4">
                    <div>
                        <Input name="name" placeholder="Nombre y Apellido" />
                    </div>
                    <div>
                        <Input name="company" placeholder="Empresa" />
                    </div>
                    <div>
                        <Input name="email" placeholder="Email Corporativo" type="email" />
                    </div>
                    <div>
                        <Input name="phone" placeholder="Teléfono" type="tel" />
                    </div>
                </div>
                <button type="submit" class="mt-14 mx-auto block cursor-pointer rounded-full bg-yellow-mrperu px-7 py-2.5 text-[1rem] font-semibold text-white transition-colors duration-300 hover:bg-yellow-mrperu/80 active:bg-yellow-mrperu/60 sm:mt-8 sm:px-8 sm:text-xl">Enviar</button>
            </form>
        </div>
    </Wrapper>
</section>

<script>
    const form = document.querySelector("form");
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        console.log(formData);
    });
</script>