---
import { object } from "astro:schema";
import Navbar from "../components/Navbar.astro";
import Clientes from "../components/sections/Clientes.astro";
import Beneficios from "../components/sections/Beneficios.astro"
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://use.typekit.net/kfy6hdf.css">	
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>MrPeru</title>
	</head>
	<>
		<Navbar/>
		<Clientes/>
		<Beneficios/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
